.form__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form__container
{   box-sizing: border-box;
    padding:3%;
    display:inline-block;
    background: grey;
    border-radius: 2%;
    margin:5%;

}

.form__message
{
    padding-top:1%;
    padding-bottom: 9%;
    color: #fff;
    
}

.form__submit
{
    text-align:center;
    margin:10%;
}